* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #1d1d1d;
}

.navbar {
    position: fixed;
}

#navbar-bag a {
    background-image: url(images/bag.png);
    width: 14.95px;
    height: 8.97px;
    position: absolute;
    left: 13px;
    top: 11px;
    transition: 0.7s;
    opacity: 80%;
}

#navbar-bag a:hover {
    opacity: 100%;
}

#navbar-logo a {
    background-image: url(images/logo.png);
    width: 37.83px;
    height: 14px;
    position: absolute;
    left: 189px;
    top: 9px;
    transition: 0.7s;
    opacity: 80%;
}

#navbar-logo a:hover {
    opacity: 100%;
}

#navbar-hamburger a {
    background-image: url(images/hamburger.png);
    width: 8.99px;
    height: 2.97px;
    position: absolute;
    left: 389px;
    top: 13px;
    transition: 0.7s;
    opacity: 80%;
}

#navbar-hambugrer a:hover {
    opacity: 100%;
}

#blue-line-1 {
    background-image: url(images/blue-line-1.png);
    width: 414px;
    height: 18px;
    position: absolute;
    left: 0px;
    top: 30px;
}

#blue-line-1-text {
    color: #f4f4f4;
    font-family: 'Montserrat SemiBold';
    font-size: 7.5px;
    position: absolute;
    left: 97px;
    top: 35px;
}

#wrapper-1 {
    background-image: url(images/wrapper-1.png);
    width: 414px;
    height: 254px;
    position: absolute;
    left: 0px;
    top: 48px;
}

#wrapper-1-text-iphone-11-pro {
    font-family: 'Montserrat';
    font-weight: bold;
    position: absolute;
    left: 152px;
    top: 65px;
    font-size: 16px;
}

#wrapper-1-text-faster-than-ever {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 8px;
    color: #1d1d1d;
    position: absolute;
    left: 172px;
    top: 85px;
}

#buy-now-1 a {
    background-image: url(images/buy-now.png);
    width: 31.62px;
    height: 6.82px;
    position: absolute;
    left: 168px;
    top: 99px;
}

#learn-more-1 a {
    background-image: url(images/buy-now.png);
    width: 37.78px;
    height: 6.82px;
    position: absolute;
    left: 210px;
    top: 99px;
}

#wrapper-1-img a {
    background-image: url(images/wrapper-1-img.png);
    width: 198px;
    height: 198px;
    position: absolute;
    left: 109px;
    top: 104px;
}

#blue-line-2 {
    background-image: url(images/blue-line-2.png);
    width: 414px;
    height: 12px;
    position: absolute;
    left: 0px;
    top: 302px;
}

#wrapper-2 {
    background-image: url(images/wrapper-2.png);
    width: 414px;
    height: 254px;
    position: absolute;
    left: 0px;
    top: 314px;
}

#wrapper-2-text-iphone-11-pro {
    font-family: 'Montserrat SemiBold';
    font-size: 16px;
    color: #f4f4f4;
    position: absolute;
    left: 152px;
    top: 325px;
}

#wrapper-2-text-faster-than-ever {
    font-family: 'Montserrat SemiBold';
    font-size: 8px;
    position: absolute;
    left: 172px;
    top: 345px;
    color: #f4f4f4;
}

#buy-now-2 a {
    background-image: url(images/buy-now.png);
    width: 31.62px;
    height: 6.82px;
    position: absolute;
    left: 168px;
    top: 359px;
}

#learn-more-2 a {
    background-image: url(images/learn-more.png);
    width: 37.78px;
    height: 6.82px;
    position: absolute;
    left: 210px;
    top: 359px;
}

#wrapper-2-img a {
    background-image: url(images/wrapper-2-img.png);
    width: 168px;
    height: 234.23px;
    position: absolute;
    left: 108px;
    top: 325px;
}

#blue-line-3 {
    background-image: url(images/blue-line-2.png);
    width: 414px;
    height: 12px;
    position: absolute;
    left: 0px;
    top: 568px;
}

#wrapper-3 {
    background-image: url(images/wrapper-3.png);
    width: 414px;
    height: 241px;
    position: absolute;
    left: 0px;
    top: 580px;    
}

#content-wrapper-1 {
    background-image: url(images/content-wrapper-1.png);
    width: 204.5px;
    height: 241px;
    position: absolute;
    left: 0px;
    top: 580px;
}

#content-wrapper-1-text-mac-book-pro {
    font-family: 'Montserrat';
    font-weight: bold;
    position: absolute;
    left: 53px;
    top: 605px;
    color: #1d1d1d;
    text-align: center;
    width: 570px;
    height: 60px;
}

#learn-more-3 a {
    background-image: url(images/learn-more.png);
    width: 37.78px;
    height: 6.82px;
    position: absolute;
    left: 105px;
    top: 626px;
}

#content-wrapper-1-img a {  
    background-image: url(images/content-wrapper-1-img.png);
    width: 173.07px;
    height: 116.18px;
    position: absolute;
    left: 16px;
    top: 666.82px;
}

#content-wrapper-1-text {
    font-family: 'Montserrat';
    font-weight: bold;
    color: #1d1d1d;
    font-size: 8px;
    position: absolute;
    left: 11px;
    top: 785px;
    width: 183px;
    height: 20px;
    text-align: center;
}

#content-wrapper-2 {
    background-image: url(images/content-wrapper-2.png);
    width: 0px;
    height: 241px;
    position: absolute;
    left: 210px;
    top: 580px;
}

#content-wrapper-2-text-air-pods {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 14px;
    color: #1d1d1d;
    position: absolute;
    left: 282px;
    top: 605px;
}

#buy-now-4 a {
    background-image: url(images/buy-now.png);
    width: 31.62px;
    height: 6.82px;
    position: absolute;
    left: 273px;
    top: 626px;
}

#learn-more-4 a {
    background-image: url(images/buy-now.png);
    width: 37.78px;
    height: 6.82px;
    position: absolute;
    left: 315px;
    top: 626px;
}

#content-wrapper-2-img a {
    background-image: url(images/content-wrapper-2-img.png);
    width: 88.78px;
    height: 116.18px;
    position: absolute;
    left: 268px;
    top: 649px;
}

#content-wrapper-2-subtitile-text {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 8px;
    position: absolute;
    left: 248.5px;
    top: 785px;
    color: #1d1d1d;
    text-align: center;
    width: 128px;
    height: 20px;
}

#blue-line-4 {
    background-image: url(images/blue-line-2.png);
    width: 414px;
    height: 12px;
    position: absolute;
    left: 0px;
    top: 821px;
}

#wrapper-3 {
    background-image: url(images/wrapper-3.png);
    width: 414px;
    height: 241px;
    position: absolute;
    left: 0px;
    top: 833px;
}

#content-wrapper-3rd-1 a {
    background-image: url(images/content-wrapper-3rd-1.png);
    width: 204.5px;
    height: 117.5px;
    position: absolute;
    left: 0px;
    top: 833px;
}

#content-wrapper-3rd-2 a {
    background-image: url(images/content-wrapper-3rd-2.png);
    width: 204.5px;
    height: 117.5px;
    position: absolute;
    left: 210px;
    top: 833px;
}

#content-wrapper-3rd-3 a {
    background-image: url(images/content-wrapper-3rd-3.png);
    width: 204.5px;
    height: 117.5px;
    position: absolute;
    left: 0px;
    top: 956.5px;
}

#content-wrapper-3rd-4 a {
    background-image: url(images/content-wrapper-3rd-4.png);
    width: 204.5px;
    height: 117.5px;
    position: absolute;
    left: 209.5px;
    top: 956.5px;
}

#blue-line-5 {
    background-image: url(images/blue-line-2.png);
    width: 414px;
    height: 12px;
    position: absolute;
    left: 0px;
    top: 1074px;
}

@media only screen and (width: 414px) {
    #navbar-bag a {
        background-image: url(images/bag.png);
        width: 14.95px;
        height: 8.97px;
        position: absolute;
        left: 13px;
        top: 11px;
        transition: 0.7s;
        opacity: 80%;
    }
    
    #navbar-bag a:hover {
        opacity: 100%;
    }
    
    #navbar-logo a {
        background-image: url(images/logo.png);
        width: 37.83px;
        height: 14px;
        position: absolute;
        left: 189px;
        top: 9px;
        transition: 0.7s;
        opacity: 80%;
    }
    
    #navbar-logo a:hover {
        opacity: 100%;
    }
    
    #navbar-hamburger a {
        background-image: url(images/hamburger.png);
        width: 8.99px;
        height: 2.97px;
        position: absolute;
        left: 389px;
        top: 13px;
        transition: 0.7s;
        opacity: 80%;
    }
    
    #navbar-hambugrer a:hover {
        opacity: 100%;
    }
    
    #blue-line-1 {
        background-image: url(images/blue-line-1.png);
        width: 414px;
        height: 18px;
        position: absolute;
        left: 0px;
        top: 30px;
    }
    
    #blue-line-1-text {
        color: #f4f4f4;
        font-family: 'Montserrat SemiBold';
        font-size: 7.5px;
        position: absolute;
        left: 97px;
        top: 35px;
    }
    
    #wrapper-1 {
        background-image: url(images/wrapper-1.png);
        width: 414px;
        height: 254px;
        position: absolute;
        left: 0px;
        top: 48px;
    }
    
    #wrapper-1-text-iphone-11-pro {
        font-family: 'Montserrat';
        font-weight: bold;
        position: absolute;
        left: 152px;
        top: 65px;
        font-size: 16px;
    }
    
    #wrapper-1-text-faster-than-ever {
        font-family: 'Montserrat';
        font-weight: bold;
        font-size: 8px;
        color: #1d1d1d;
        position: absolute;
        left: 172px;
        top: 85px;
    }
    
    #buy-now-1 a {
        background-image: url(images/buy-now.png);
        width: 31.62px;
        height: 6.82px;
        position: absolute;
        left: 168px;
        top: 99px;
    }
    
    #learn-more-1 a {
        background-image: url(images/buy-now.png);
        width: 37.78px;
        height: 6.82px;
        position: absolute;
        left: 210px;
        top: 99px;
    }
    
    #wrapper-1-img a {
        background-image: url(images/wrapper-1-img.png);
        width: 198px;
        height: 198px;
        position: absolute;
        left: 109px;
        top: 104px;
    }
    
    #blue-line-2 {
        background-image: url(images/blue-line-2.png);
        width: 414px;
        height: 12px;
        position: absolute;
        left: 0px;
        top: 302px;
    }
    
    #wrapper-2 {
        background-image: url(images/wrapper-2.png);
        width: 414px;
        height: 254px;
        position: absolute;
        left: 0px;
        top: 314px;
    }
    
    #wrapper-2-text-iphone-11-pro {
        font-family: 'Montserrat SemiBold';
        font-size: 16px;
        color: #f4f4f4;
        position: absolute;
        left: 152px;
        top: 325px;
    }
    
    #wrapper-2-text-faster-than-ever {
        font-family: 'Montserrat SemiBold';
        font-size: 8px;
        position: absolute;
        left: 172px;
        top: 345px;
        color: #f4f4f4;
    }
    
    #buy-now-2 a {
        background-image: url(images/buy-now.png);
        width: 31.62px;
        height: 6.82px;
        position: absolute;
        left: 168px;
        top: 359px;
    }
    
    #learn-more-2 a {
        background-image: url(images/learn-more.png);
        width: 37.78px;
        height: 6.82px;
        position: absolute;
        left: 210px;
        top: 359px;
    }
    
    #wrapper-2-img a {
        background-image: url(images/wrapper-2-img.png);
        width: 168px;
        height: 234.23px;
        position: absolute;
        left: 108px;
        top: 325px;
    }
    
    #blue-line-3 {
        background-image: url(images/blue-line-2.png);
        width: 414px;
        height: 12px;
        position: absolute;
        left: 0px;
        top: 568px;
    }
    
    #wrapper-3 {
        background-image: url(images/wrapper-3.png);
        width: 414px;
        height: 241px;
        position: absolute;
        left: 0px;
        top: 580px;    
    }
    
    #content-wrapper-1 {
        background-image: url(images/content-wrapper-1.png);
        width: 204.5px;
        height: 241px;
        position: absolute;
        left: 0px;
        top: 580px;
    }
    
    #content-wrapper-1-text-mac-book-pro {
        font-family: 'Montserrat';
        font-weight: bold;
        position: absolute;
        left: 53px;
        top: 605px;
        color: #1d1d1d;
        text-align: center;
        width: 570px;
        height: 60px;
    }
    
    #learn-more-3 a {
        background-image: url(images/learn-more.png);
        width: 37.78px;
        height: 6.82px;
        position: absolute;
        left: 105px;
        top: 626px;
    }
    
    #content-wrapper-1-img a {  
        background-image: url(images/content-wrapper-1-img.png);
        width: 173.07px;
        height: 116.18px;
        position: absolute;
        left: 16px;
        top: 666.82px;
    }
    
    #content-wrapper-1-text {
        font-family: 'Montserrat';
        font-weight: bold;
        color: #1d1d1d;
        font-size: 8px;
        position: absolute;
        left: 11px;
        top: 785px;
        width: 183px;
        height: 20px;
        text-align: center;
    }
    
    #content-wrapper-2 {
        background-image: url(images/content-wrapper-2.png);
        width: 0px;
        height: 241px;
        position: absolute;
        left: 210px;
        top: 580px;
    }
    
    #content-wrapper-2-text-air-pods {
        font-family: 'Montserrat';
        font-weight: bold;
        font-size: 14px;
        color: #1d1d1d;
        position: absolute;
        left: 282px;
        top: 605px;
    }
    
    #buy-now-4 a {
        background-image: url(images/buy-now.png);
        width: 31.62px;
        height: 6.82px;
        position: absolute;
        left: 273px;
        top: 626px;
    }
    
    #learn-more-4 a {
        background-image: url(images/buy-now.png);
        width: 37.78px;
        height: 6.82px;
        position: absolute;
        left: 315px;
        top: 626px;
    }
    
    #content-wrapper-2-img a {
        background-image: url(images/content-wrapper-2-img.png);
        width: 88.78px;
        height: 116.18px;
        position: absolute;
        left: 268px;
        top: 649px;
    }
    
    #content-wrapper-2-subtitile-text {
        font-family: 'Montserrat';
        font-weight: bold;
        font-size: 8px;
        position: absolute;
        left: 248.5px;
        top: 785px;
        color: #1d1d1d;
        text-align: center;
        width: 128px;
        height: 20px;
    }
    
    #blue-line-4 {
        background-image: url(images/blue-line-2.png);
        width: 414px;
        height: 12px;
        position: absolute;
        left: 0px;
        top: 821px;
    }
    
    #wrapper-3 {
        background-image: url(images/wrapper-3.png);
        width: 414px;
        height: 241px;
        position: absolute;
        left: 0px;
        top: 833px;
    }
    
    #content-wrapper-3rd-1 a {
        background-image: url(images/content-wrapper-3rd-1.png);
        width: 204.5px;
        height: 117.5px;
        position: absolute;
        left: 0px;
        top: 833px;
    }
    
    #content-wrapper-3rd-2 a {
        background-image: url(images/content-wrapper-3rd-2.png);
        width: 204.5px;
        height: 117.5px;
        position: absolute;
        left: 210px;
        top: 833px;
    }
    
    #content-wrapper-3rd-3 a {
        background-image: url(images/content-wrapper-3rd-3.png);
        width: 204.5px;
        height: 117.5px;
        position: absolute;
        left: 0px;
        top: 956.5px;
    }
    
    #content-wrapper-3rd-4 a {
        background-image: url(images/content-wrapper-3rd-4.png);
        width: 204.5px;
        height: 117.5px;
        position: absolute;
        left: 209.5px;
        top: 956.5px;
    }
    
    #blue-line-5 {
        background-image: url(images/blue-line-2.png);
        width: 414px;
        height: 12px;
        position: absolute;
        left: 0px;
        top: 1074px;
    }
}


                    /*media querys*/

            /*media query for the macbook pro*/


@media only screen and (min-width: 1347px) {
    #navbar-bag a {
        background-image: url(images/bag-1347.png);
        width: 53.33px;
        height: 32px;
        position: absolute;
        left: 10px;
        top: 18px;
    }

    #navbar-logo a {
        background-image: url(images/logo-1347.png);
        width: 89.68px;
        height: 33.19px;
        position: absolute;
        left: 619.86px;
        top: 18px;
    }

    #navbar-hamburger a {
        background-image: url(images/hamburger-1347.png);
        width: 29.64px;
        height: 9.79px;
        position: absolute;
        left: 1301px;
        top: 30px;
    }

    #blue-line-1 {
        background-image: url(images/blue-line-1-1347.png);
        width: 1349px;
        height: 39.32px;
        position: absolute;
        left: 0px;
        top: 69.21px;
    }

    #blue-line-1-text {
        font-size: 20px;
        position: absolute;
        left: 376px;
        top: 77px;
    }

    #wrapper-1 {
        background-image: url(images/wrapper-1-1347.png);
        width: 1349px;
        height: 837.07px;
        position: absolute;
        left: 0px;
        top: 107.93px;
    }

    #wrapper-1-text-iphone-11-pro {
        font-size: 30px;
        position: absolute;
        left: 580.5px;
        top: 180px;
    }

    #wrapper-1-text-faster-than-ever {
        font-size: 20px;
        position: absolute;
        left: 594.5px;
        top: 226px;
    }

    #buy-now-1 a {
        background-image: url(images/buy-now-1347.png);
        width: 104.2px;
        height: 22.48px;
        position: absolute;
        left: 553.65px;
        top: 267.6px;
    }

    #learn-more-1 a {
        background-image: url(images/learn-more-1347.png);
        width: 124.5px;
        height: 22.48px;
        position: absolute;
        left: 692.06px;
        top: 267.6px;
    }


    #wrapper-1-img a {
        background-image: url(images/wrapper-1-img-1347.png);
        width: 652.52px;
        height: 652.52px;
        position: absolute;
        left: 359.21px;
        top: 292.08px;
    }

    #blue-line-2 {
        background-image: url(images/blue-line-2-1347.png);
        width: 1349px;
        height: 39.55px;
        position: absolute;
        left: 0px;
        top: 944.59px;
    }

    #wrapper-2 {
        background-image: url(images/wrapper-2-1347.png);
        width: 1349px;
        height: 837.07px;
        position: absolute;
        left: 0px;
        top: 984.14px;
    }

    #wrapper-2-text-iphone-11-pro {
        font-size: 30px;
        position: absolute;
        left: 582px;
        top: 1020px;
    }

    #wrapper-2-text-faster-than-ever {
        font-size: 20px;
        position: absolute;
        left: 596.5px;
        top: 1066px;
    }

    #buy-now-2 a {
        background-image: url(images/buy-now-1347.png);
        width: 104.2px;
        height: 22.48px;
        position: absolute;
        left: 553.65px;
        top: 1102.44px;
    }

    #learn-more-2 a {
        background-image: url(images/learn-more-1347.png);
        width: 124.5px;
        height: 22.48px;
        position: absolute;
        left: 692.06px;
        top: 1102.44px;
    }

    #wrapper-2-img a {
        background-image: url(images/wrapper-2-img-1347.png);
        width: 652.52px;
        height: 771.91px;
        position: absolute;
        left: 355.92px;
        top: 1020.39px;
    }

    #blue-line-3 {
        background-image: url(images/blue-line-2-1347.png);
        width: 1349px;
        height: 39.55px;
        position: absolute;
        left: 0px;
        top: 1821.21px;
    }

    #content-wrapper-1-text-mac-book-pro {
        font-size: 35px;
        position: absolute;
        left: 215px;
        top: 1943px;
    }

    #learn-more-3 a {
        background-image: url(images/learn-more-1347.png);
        width: 124.5px;
        height: 22.48px;
        position: absolute;
        left: 275px;
        top: 2012.52px;
    }

    #wrapper-3 {
        background-image: url(images/wrapper-3-1347.png);
        width: 1349px;
        height: 794.22px;
        position: absolute;
        left: 0px;
        top: 2695px;
    }

    #content-wrapper-1 {
        background-image: url(images/content-wrapper-1-1347.png);
        width: 673.94px;
        height: 794.22px;
        position: absolute;
        left: 0px;
        top: 1860.75px;
    }

    #content-wrapper-1-img a {
        background-image: url(images/content-wrapper-1-img-1347.png);
        width: 570.35px;
        height: 382.88px;
        position: absolute;
        left: 52.73px;
        top: 2146.87px;
    }

    #content-wrapper-1-text {
        font-size: 25px;
        position: absolute;
        left: 52.54px;
        top: 2536px;
    }

    #content-wrapper-2 {
        background-image: url(images/content-wrapper-2-1347.png);
        width: 672.29px;
        height: 794.22px;
        position: absolute;
        left: 692.06px;
        top: 1860.75px;
    }

    #content-wrapper-2-text-air-pods {
        font-size: 35px;
        position: absolute;
        left: 951px;
        top: 1943px;
    }

    #buy-now-4 a {
        background-image: url(images/buy-now-1347.png);
        width: 104.2px;
        height: 22.48px;
        position: absolute;
        left: 899.68px;
        top: 2012.35px;
    }

    #learn-more-4 a {
        background-image: url(images/learn-more-1347.png);
        width: 124.5px;
        height: 22.48px;
        position: absolute;
        left: 1038.09px;
        top: 2012.35px;
    }

    #content-wrapper-2-img a {
        background-image: url(images/content-wrapper-2-img-1347.png);
        width: 292.57px;
        height: 382.88px;
        position: absolute;
        left: 883.2px;
        top: 2088.14px;
    }

    #content-wrapper-2-subtitile-text {
        font-size: 25px;
        position: absolute;
        left: 830.36px;
        top: 2536.34px;
        text-align: center;
        width: 399px;
        height: 60px;
    }

    #blue-line-4 {
        background-image: url(images/blue-line-2-1347.png);
        width: 1364.35px;
        height: 39.55px;
        position: absolute;
        left: 0px;
        top: 2654.98px;
    }

    #content-wrapper-3rd-1 a {
        background-image: url(images/content-wrapper-3rd-1-1347.png);
        width: 673.94px;
        height: 387.23px;
        position: absolute;
        left: 0px;
        top: 2694.52px;
    }

    #content-wrapper-3rd-2 a {
        background-image: url(images/content-wrapper-3rd-2-1347.png);
        width: 673.94px;
        height: 387.23px;
        position: absolute;
        left: 692.06px;
        top: 2694.52px;
    }

    #content-wrapper-3rd-3 a {
        background-image: url(images/content-wrapper-3rd-3-1347.png);
        width: 673.94px;
        height: 387.23px;
        position: absolute;
        left: 0px;
        top: 3101.52px;
    }

    #content-wrapper-3rd-4 a {
        background-image: url(images/content-wrapper-3rd-4-1347.png);
        width: 673.94px;
        height: 387.23px;
        position: absolute;
        left: 690.42px;
        top: 3101.52px;
    }

    #blue-line-5 {
        background-image: url(images/blue-line-2-1347.png);
        width: 1349px;
        height: 39.55px;
        position: absolute;
        left: 0px;
        top: 3489px;
    }
}


                /*media query for the ipad*/


@media only screen and (width: 1024px) {
    #navbar-bag a {
        background-image: url(images/bag-1024.png);
        width: 39.97px;
        height: 23.98px;
        position: absolute;
        left: 7.49px;
        top: 7.54px;
    }

    #navbar-logo a {
        background-image: url(images/logo-1024.png);
        width: 69.2px;
        height: 25.61px;
        position: absolute;
        left: 464.55px;
        top: 8.29px;
    }

    #navbar-hamburger a {
        background-image: url(images/hamburger-1024.png);
        width: 22.22px;
        height: 7.34px;
        position: absolute;
        left: 975.02px;
        top: 17.53px;
    }

    #blue-line-1 {
        background-image: url(images/blue-line-1-1024.png);
        width: 1024px;
        height: 44.09px;
        position: absolute;
        left: 0px;
        top: 40.91px;
    }

    #blue-line-1-text {
        font-size: 22px;
        position: absolute;
        left: 184.07px;
        top: 48px;
    }

    #wrapper-1 {
        background-image: url(images/wrapper-1-1024.png);
        width: 1024px;
        height: 627px;
        position: absolute;
        left: 0px;
        top: 85px;
    }

    #wrapper-1-text-iphone-11-pro {
        font-size: 30px;
        position: absolute;
        left: 409.24px;
        top: 139.68px;
    }

    #wrapper-1-text-faster-than-ever {
        font-size: 20px;
        position: absolute;
        left: 423.24px;
        top: 174.16px;
    }

    #buy-now-1 a {
        background-image: url(images/buy-now-1024.png);
        width: 78.09px;
        height: 16.84px;
        position: absolute;
        left: 414.93px;
        top: 205.33px;
    }

    #learn-more-1 a {
        background-image: url(images/learn-more-1024.png);
        width: 93.3px;
        height: 16.84px;
        position: absolute;
        left: 518.66px;
        top: 205.33px;
    }

    #wrapper-1-img a {
        background-image: url(images/wrapper-1-img-1024.png);
        width: 489.02px;
        height: 489.02px;
        position: absolute;
        left: 269.21px;
        top: 223.68px;
    }

    #blue-line-2 {
        background-image: url(images/blue-line-2-1024.png);
        width: 1024px;
        height: 30px;
        position: absolute;
        left: 0px;
        top: 712px;
    }

    #wrapper-2 {
        background-image: url(images/wrapper-2-1024.png);
        width: 1024px;
        height: 626px;
        position: absolute;
        left: 0px;
        top: 742px;
    }

    #wrapper-2-text-iphone-11-pro {
        font-size: 30px;
        position: absolute;
        left: 410.74px;
        top: 769.21px;
    }

    #wrapper-2-text-faster-than-ever {
        font-size: 20px;
        position: absolute;
        left: 425.24px;
        top: 803.69px;
    }

    #buy-now-2 a {
        background-image: url(images/buy-now-1024.png);
        width: 78.09px;
        height: 16.84px;
        position: absolute;
        left: 414.93px;
        top: 841px;
    }

    #learn-more-2 a {
        background-image: url(images/learn-more-1024.png);
        width: 93.3x;
        height: 16.84px;
        background-repeat: no-repeat;
        position: absolute;
        left: 518.66px;
        top: 841px;
    }

    #wrapper-2-img a {
        background-image: url(images/wrapper-2-img-1024.png);
        width: 489.02px;
        height: 578.5px;
        position: absolute;
        left: 266.74px;
        top: 769.51px;
        z-index: 1;
    }

    #blue-line-3 {
        background-image: url(images/blue-line-2-1024.png);
        width: 1024px;
        height: 30px;
        position: absolute;
        left: 0px;
        top: 1368px;
    }

    #content-wrapper-1-text-mac-book-pro {
        font-size: 35px;
        position: absolute;
        left: -30px;
        top: 1460.95px;
        z-index: 1;
    }

    #learn-more-3 a {
        background-image: url(images/learn-more-1024.png);
        width: 93.3px;
        height: 16.84px;
        position: absolute;
        left: 206.1px;
        top: 1513.05px;
        z-index: 1;
    }

    #buy-now-3 a {
        background-image: url(images/buy-now-1024.png);
        width: 414.93px;
        height: 16.84;
        position: absolute;
        left: 414.93px;
        top: 841px;
    }

    #wrapper-3 {
        background-image: url(images/wrapper-3-1024.png);
        width: 1024px;
        height: 595.22px;
        position: absolute;
        left: 0px;
        top: 1398px;
    }

    #content-wrapper-1 {
        background-image: url(images/content-wrapper-1-1024.png);
        width: 505.08px;
        height: 595px;
        position: absolute;
        left: 0px;
        top: 1398px;
        z-index: 1;
    }

    #content-wrapper-1-text {
        font-size: 20px;
        position: absolute;
        left: 24.97px;
        top: 1905.37px;
        width: 456px;
        height: 48px;
        text-align: center;
        z-index: 1;
    }

    #content-wrapper-1-img a {
        background-image: url(images/content-wrapper-1-img-1024.png);
        width: 427.45px;
        height: 286.94px;
        position: absolute;
        left: 39.52px;
        top: 1613.74px;
        z-index: 1;
    }

    #content-wrapper-2 {
        background-image: url(images/content-wrapper-2-1024.png);
        width: 503.16px;
        height: 595px;
        position: absolute;
        left: 520.16px;
        top: 1398px;
        z-index: 1;
    }

    #content-wrapper-2-text-air-pods {
        font-size: 35px;
        position: absolute;
        left: 693.43px;
        top: 1460.95px;
        z-index: 1;
    }

    #buy-now-4 a {
        background-image: url(images/buy-now-1024.png);
        width: 78.09px;
        height: 16.84px;
        position: absolute;
        left: 674.26px;
        top: 1512.92px;
    }

    #learn-more-4 a {
        background-image: url(images/learn-more-1024.png);
        width: 78.09px;
        height: 16.84px;
        position: absolute;
        left: 674.26px;
        top: 1512.92px;
    }

    #content-wrapper-2-img a {
        background-image: url(images/content-wrapper-2-img-1024.png);
        width: 219.26px;
        height: 286.94px;
        position: absolute;
        left: 661.91px;
        top: 1569.73px;
        z-index: 1;
    }

    #content-wrapper-2-subtitile-text {
        font-size: 20px;
        position: absolute;
        left: 612.32px;
        top: 1905.62px;
        text-align: center;
        width: 319px;
        height: 48px;
        z-index: 1;
    }

    #blue-line-4 {
        background-image: url(images/blue-line-2-1024.png);
        width: 1024px;
        height: 30px;
        position: absolute;
        left: 0px;
        top: 1993px;
    }

    #wrapper-4 {
        background-image: url(images/wrapper-3-1024.png);
        width: 1024px;
        height: 595px;
        position: absolute;
        left: 0px;
        top: 2023px;
        z-index: 1;
    }

    #content-wrapper-3rd-1 a {
        background-image: url(images/content-wrapper-3rd-1-1024.png);
        width: 505.08px;
        height: 290px;
        position: absolute;
        left: 0px;
        top: 2023px;
        z-index: 1;
    }

    #content-wrapper-3rd-2 a {
        background-image: url(images/content-wrapper-3rd-2-1024.png);
        width: 506px;
        height: 290px;
        position: absolute;
        left: 518px;
        top: 2023px;
        z-index: 1;
    }

    #content-wrapper-3rd-3 a {
        background-image: url(images/content-wrapper-3rd-3-1024.png);
        width: 505px;
        height: 290px;
        position: absolute;
        left: 0px;
        top: 2328px;
        z-index: 1;
    }

    #content-wrapper-3rd-4 a {
        background-image: url(images/content-wrapper-3rd-4-1024.png);
        width: 505px;
        height: 290px;
        position: absolute;
        left: 519px;
        top: 2328px;
        z-index: 1;
    }

    #blue-line-5 {
        background-image: url(images/blue-line-2-1024.png);
        width: 1024px;
        height: 30px;
        position: absolute;
        left: 0px;
        top: 2588px;
        z-index: 1;
    }
}

